:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
  }
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body of the html*/
body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 10px 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    z-index: 9999;
 
}
header a{
   text-decoration:none;
    color: white
}
header nav{
    margin: 7px 0;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
header nav ul li a:hover {
    background: white;
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
header h1{
    font-weight: lighter;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}
/* Footer */
footer {
    background: black;
    width: 100%;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h4{
    color: white;
    font-size: 16px;
    margin: 0;
}
/* Hero Style Start*/
.hero{
    background-image: url("./imgs/header.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    padding: 150px ;
}
.hero img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}
/* Hero Style End */
/* About Me*/
.intro{
    text-align: center;
    padding: 40px;
}
.intro p {
    text-align: center;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%; 
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  
/* My Work */

.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }

.grid-container {
  display: grid;
  grid-template-areas:
  'item1 item1 item1 item1 item1 item1'
  'item2 item2 item2 item3 item3 item3'
  'item4 item4 item4 item5 item5 item5';
  grid-gap: 10px;
  background-color: black;
  padding: 5px;
  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1{
background-image: url("https://media.istockphoto.com/photos/modern-computerlaptop-with-blank-screen-on-counter-barand-window-view-picture-id1157789866?k=20&m=1157789866&s=612x612&w=0&h=1txTQ36VQ8Wc4N2AwrLwMQ9Llb9mleL8FVzQj_apU3E=");
background-size: cover;
background-position: center;
height: 300px;
width: 100%:
}

.item2{
background-image: url("https://media.istockphoto.com/photos/modern-computerlaptop-with-blank-screen-on-counter-barand-window-view-picture-id1157789866?k=20&m=1157789866&s=612x612&w=0&h=1txTQ36VQ8Wc4N2AwrLwMQ9Llb9mleL8FVzQj_apU3E=");
background-size: cover;
background-position: center;
height: 150px;
width: 100%:
}

.item3{
background-image: url("https://media.istockphoto.com/photos/modern-computerlaptop-with-blank-screen-on-counter-barand-window-view-picture-id1157789866?k=20&m=1157789866&s=612x612&w=0&h=1txTQ36VQ8Wc4N2AwrLwMQ9Llb9mleL8FVzQj_apU3E=");
background-size: cover;
background-position: center;
height: 150px;
width: 100%:
}

.item4{
background-image: url("https://media.istockphoto.com/photos/modern-computerlaptop-with-blank-screen-on-counter-barand-window-view-picture-id1157789866?k=20&m=1157789866&s=612x612&w=0&h=1txTQ36VQ8Wc4N2AwrLwMQ9Llb9mleL8FVzQj_apU3E=");
background-size: cover;
background-position: center;
height: 150px;
width: 100%:
}

.item5{
background-image: url("https://media.istockphoto.com/photos/modern-computerlaptop-with-blank-screen-on-counter-barand-window-view-picture-id1157789866?k=20&m=1157789866&s=612x612&w=0&h=1txTQ36VQ8Wc4N2AwrLwMQ9Llb9mleL8FVzQj_apU3E=");
background-size: cover;
background-position: center;
height: 150px;
width: 100%:
}


/* Contact Section */
  .contact {
      background: black;
  }
  .contact-info {
     text-align: center;
     padding: 40px;
  }
  .contact h2{
      color: white;
  }

  .contact-info div{
      color: white;
  }
  .contact-info h3{
      color: orange;
      font-size: 32px;
  }
  .contact-info p, .contact-info address{
      margin: 20px 0;
      line-height: 1.5;
      font-size: 16px;
      font-style: normal;
  }
  .contact-info a {
      color: orange;
  }
  .contact-info > * {
      flex: 1;
      margin: 15px;
  }
.flex-row {
    display:flex;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }
      .hero-cta, .hero-form {
        width: 100%;
      }
      
      .hero-cta {
        text-align: center;
      }
      .section-title {
        width: 80%;
      }
      
      .trainer {
        flex: 0 70%;
      }
      
      .contact-info iframe{
        flex: 1 100%;
      }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
      }
      .step h3 {
        flex: 1 100%;
        text-align: center;
      }
    
      .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
      }
    
      .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    
      .step-text {
        flex: 100%;  
      }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
      }
    
      .section-title {
        width: 95%;
      }
    
      .intro p {
        width: 100%;
      }
    
      .trainer {
        flex: 0 100%;
      }
    
      .contact-info {
        text-align: center;
      }
    
      .contact-info > * {
        flex: 0 100%;
      }
      .contact-form {
        order: 3;
      }
  }
  